page-stock-qty {
    .table-responsive {
        overflow-x : scroll;
    }
    table { 
		width: 100%; 
		border-collapse: collapse; 
	}
    /* Zebra striping */
    thead tr:nth-of-type(odd) {
        background: coral;
    }
	tr:nth-of-type(odd) { 
		background: lightgreen; 
    }
	tr.order-item:nth-of-type(odd) { 
		background: greenyellow; 
    }
    tbody tr:nth-last-of-type(1) td {
        border-bottom: 1px solid royalblue;
    }
	th { 
		background: lightseagreen; 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
        text-align: left; 
        font-size: 1.3rem;
    }

    .text-right {
        text-align: right;
    }
    .text-center {
        text-align: center;
    }
    .qty-empty {
        background: orangered;
        color: #fff;
    }
    .qty-warning {
        background: gold;
        color: #fff;
    }
}
